*

!.gitignore
!*.py
!*.json
!asset/
!asset/FST.mplstyle
!.python-version
!environment.yml
!main.py
!pyproject.toml
!.gitlab-ci.yml
!README.md
!requirements.txt
!uv.lock
!.vscode

!tests/
!functions/
